<form class="add-form">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" [(ngModule)]="text" id="text" placeholder="Task" />
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="text" name="day" [(ngModule)]="day" id="day" placeholder="Add day & time" />
    </div>
    <div class="form-control form-control-check">
        <label for="remidner">Set Reminder</label>
        <input type="checkbox" name="reminder" [(ngModule)]="reminder" id="reminder" />
    </div>
    <input type="submit" value="Save Task" class="btn btn-block"/>
</form>